.product-thumbnail-slider {
	margin-top: 20px;
}

.product-thumbnail-slider-container .glide__slides {
	width: 300px;
}

.product-thumbnail-slider .glide__slide:not(.active) {
	opacity: 0.5;
}

.product-thumbnail-slider .glide__slide.active {
	border-bottom: 2px solid #000;
}

.product-thumbnail-slider .glide__slide {
	height: 100px;
}

.product-single__thumbnail {
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
}

.product-single__thumbnail-image-glide {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

/* Slider controls */
.product-thumbnail-slider__controls .glide__arrow {
	top: 50%;
	border: none;
	box-shadow: none;
	color: #000;
	background-color: #fff;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	line-height: 0;
	cursor: pointer;
	transition: color 0.2s cubic-bezier(0.44, 0.13, 0.48, 0.87), background-color 0.2s cubic-bezier(0.44, 0.13, 0.48, 0.87);
}

.product-thumbnail-slider__controls .glide__arrow:hover {
	background-color: #000;
	color: #fff;
	opacity: 1;
}

.product-thumbnail-slider__controls .glide__arrow--left {
	left: -22px;
}

.product-thumbnail-slider__controls .glide__arrow--right {
	right: -22px;
}

/* Preorder button */
.btn--preorder .add-to-cart {
	display: none;
}

.btn--preorder .preorder {
	display: block;
}